name: Android

on: [push, pull_request, workflow_dispatch]

jobs:
  app-build-debug:
    name: Build Debug APK
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: chmod +x gradlew
    - name: Run Gradle AssembleDebug
      run: ./gradlew assembleDebug
    - name: Upload Result
      uses: actions/upload-artifact@v4
      with:
        name: app-debug.apk
        path: app/build/outputs/apk/debug/app-debug.apk
